#!/bin/bash

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

# Your GCP project id should go here
export PROJECT_ID=nodejs-atx
# Add ops tools to path for convenience
export PATH=$DIR/ops/bin:$DIR/node_modules/.bin:$PATH

export TF_HOME=$HOME

# Terraform Variables
export TF_VAR_project_id=$PROJECT_ID
export TF_VAR_cloud_sql_username="username"
export TF_VAR_cloud_sql_password="!str0ngp4ssw0rd12#4%!"